@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
@media (max-width: 768px) {
  .page-content {
   
    padding-bottom: 75px;
  }
}
@media (max-width: 768px) {
  body {
    padding-bottom: 75px;
  }
}